
# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirect .html URLs to non-html URLs
RewriteCond %{THE_REQUEST} \.html [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Redirect .php URLs to non-php URLs
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]